<%- include('partials/header'); -%>


    <!-- Hero area start -->
    <section class="hero__area">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="hero__content">
                        <h1 class="hero__sub-title cxufadeUp" style="color: var(--white);">Leave the numbers to us</h1>
                        <h2 class="hero__title cxufadeUp2">We have Services Tailored to your Needs<ul
                                class="dynamic-txts">
                                <li><span>Deepwork 1</span></li>
                                <li><span>2 Designer</span></li>
                                <li><span>3 Developer</span></li>
                                <li><span>4 Freelancer</span></li>
                                <li><span>5 Deepwork 1</span></li>
                                <li><span>6 Designer</span></li>
                                <li><span>7 Developer</span></li>
                                <li><span>8 Freelancer</span></li>
                            </ul>
                        </h2>

                        <style scoped>
                            .hero__title {
                                /* display: flex; */
                            }

                            .hero__title .dynamic-txts {
                                /* margin-left: 15px; */
                                height: 90px;
                                line-height: 90px;
                                overflow: hidden;
                            }

                            .dynamic-txts li {
                                list-style: none;
                                /* color: #FC6D6D; */
                                /* font-size: 60px; */
                                /* font-weight: 500; */
                                position: relative;
                                top: 0;
                                animation: slide 12s steps(4) infinite;
                            }

                            @keyframes slide {
                                100% {
                                    top: -360px;
                                }
                            }

                            .dynamic-txts li span {
                                position: relative;
                                margin: 5px 0;
                                /* line-height: 90px; */
                            }

                            .dynamic-txts li span::after {
                                content: "";
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                height: 100%;
                                width: 100%;
                                background: #000314;
                                border-left: 2px solid #FC6D6D;
                                animation: typing 3s steps(10) infinite;
                            }

                            @keyframes typing {

                                40%,
                                60% {
                                    left: calc(100% + 30px);
                                }

                                100% {
                                    left: 0;
                                }
                            }
                        </style>
                        <p class="cxufadeUp3">Customized accounting services that maximize your time, resources, and
                            financials.
                        </p>
                        <a href="/about" class="cxu-btn-primary cxufadeUp4">DISCOVER MORE</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <img src="assets/imgs/hero/overlay.png" alt="overlay" class="overlay"> -->
        <img src="assets/imgs/hero/shape.png" alt="overlay" class="shape-1">
        <img src="assets/imgs/hero/shape-2.png" alt="overlay" class="shape-2">
    </section>
    <!-- Hero area end -->

    <!-- Feature area start -->
    <!-- <style scoped>
        .feature__area .service__title {
            font-size: 24px;
        }
    </style>
    <section class="feature__area pt-5">
        <div class="container">
            <div class="row text-center justify-content-center">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                            <div class="mb-0 wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                                <h2 class="service__title">Streamline</h2>
                            </div>
                        </div>

                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                            <div class="wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                                <h2 class="service__title">Simplify</h2>
                            </div>
                        </div>

                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                            <div class="mb-0 text-center wow animate__animated animate__fadeInUp" data-wow-delay="0.6s">
                                <h2 class="service__title">Maximize</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <h3 class="sec-title">Your Financial Processes</h3>
                </div>
            </div>
        </div>
    </section> -->
    <!-- Feature area end -->


    <!-- Feature area start -->
    <!-- <section class="feature__area pt-5 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                        <img src="assets/imgs/feature/1.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">Rapidly Scalable team (Up/Down)</h2>
                    </div>
                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                        <img src="assets/imgs/feature/9.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">Processes set by seasoned professionals</h2>
                    </div>
                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.6s">
                        <img src="assets/imgs/feature/3.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">Core leaders focussing on business scale-up</h2>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.8s">
                        <img src="assets/imgs/feature/4.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">Techno Savvy work process</h2>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- Feature area end -->





    <!-- Service area start -->
    <%- include('partials/services'); -%>
        <!-- Service area end -->
        <!-- About area start -->
        <section class="about__area pt-100">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="about__left">
                            <img src="assets/imgs/about/1.png" alt="Image" class="image">
                            <img src="assets/imgs/about/2.png" alt="Image" class="image-2">
                            <img src="assets/imgs/about/3.jpeg" alt="Image" class="image-3">
                            <img src="assets/imgs/about/s1.png" alt="shape" class="shape">
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="about__right">
                            <div class="about__right-inner">
                                <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                                    About Company</h2>
                                <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">WHY
                                    CHOOSE
                                    <span>DEEPWORK?</span>
                                </h3>
                                <p class="wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">With diverse
                                    global
                                    teams, Deepwork unlocks the potential in delivering integrated solutions. The robust
                                    foundation for all your financial processes starts from Deepwork. Our purpose is to
                                    bring clear insights paired with quality services in the capital markets and
                                    economies
                                    of the businesses. In a fast-growing business world, our goal is to offer financial
                                    assistance and consultants to the pioneers of different business areas. </p>
                                <ul class="list-check wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                                    <li>Proactive & Timely Advice</li>
                                    <li>Skilled & Experienced</li>
                                    <li>Strategic Planning</li>
                                    <li>Hassel free & Easy</li>
                                </ul>
                                <a href="/services" class="cxu-btn-primary wow animate__animated animate__fadeInUp"
                                    data-wow-delay="0.4s">READ
                                    MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About area end -->

        <!-- Counter area start -->
        <style scoped>
            @media (min-width: 768px) {
                .w-md-20 {
                    width: 20% !important;
                }
            }
        </style>

        <section class="counter__area-2 pt-100 pb-100">
            <div class="container">
                <div class="counter__inner-2">
                    <div class="row">
                        <div class="w-md-20">
                            <div class="counter__item-2 wow animate__animated animate__fadeInUp" data-wow-delay="0.15s">
                                <h3 class="counter__text-2"><br /></h3>
                                <div class="counter-active counter__number-2">25+</div>
                                <h3 class="counter__text-2">SERVICES OFFERED</h3>
                            </div>
                        </div>
                        <div class="w-md-20 mt-2 mt-md-0">
                            <div class="counter__item-2 wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">
                                <h3 class="counter__text-2">TRUSTED BY</h3>
                                <div class="counter-active counter__number-2">500+</div>
                                <h3 class="counter__text-2">BUSINESSES</h3>
                            </div>
                        </div>
                        <div class="w-md-20">
                            <div class="counter__item-2 wow animate__animated animate__fadeInUp" data-wow-delay="0.45s">
                                <h3 class="counter__text-2"><br /></h3>
                                <div class="counter-active counter__number-2">58%</div>
                                <h3 class="counter__text-2">CUSTOMER RETENTION</h3>
                            </div>
                        </div>
                        <div class="w-md-20">
                            <div class="counter__item-2 wow animate__animated animate__fadeInUp" data-wow-delay="0.6s">
                                <h3 class="counter__text-2"><br /></h3>
                                <div class="counter-active counter__number-2">15+</div>
                                <h3 class="counter__text-2">Industry Verticals</h3>
                            </div>
                        </div>
                        <div class="w-md-20">
                            <div class="counter__item-2 wow animate__animated animate__fadeInUp" data-wow-delay="0.75s">
                                <h3 class="counter__text-2"><br /></h3>
                                <div class="counter-active counter__number-2">600+</div>
                                <h3 class="counter__text-2"> Experienced Professionals</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="assets/imgs/hero/overlay-2.png" alt="overlay" class="overlay">
            <img src="assets/imgs/shape/1.png" alt="shape" class="shape-1">
            <img src="assets/imgs/shape/2.png" alt="shape" class="shape-2">
            <img src="assets/imgs/shape/3.png" alt="shape" class="shape-3">
            <img src="assets/imgs/shape/3.png" alt="shape" class="shape-4">
        </section>
        <!-- Counter area end -->

        <!-- Experience area start -->
        <!-- <section class="experience__area pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                    <div class="experience__left">
                        <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">Skills &
                            Experiences
                        </h2>
                        <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">People
                            Compare To <br>
                            Our Team Leaders & <br> <span>Their Skills.</span></h3>
                        <p class="wow animate__animated animate__fadeInUp" data-wow-delay="0.5s">The professional team
                            at Deepwork has extensive industry-based in-hand experience. We are able to perform a
                            360-degree analysis of your business and its financials. Our expertise is to help you define
                            your business goals and derive the steps to achieve them.</p>
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                    <div class="experience__right">
                        <div class="experience__item wow animate__animated animate__fadeInUp" data-wow-delay="0.15s">
                            <div class="exp-active" data-width="90" data-target="100">Rapidly Scalable team</div>
                        </div>
                        <div class="experience__item wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">
                            <div class="exp-active" data-width="92" data-target="100">Processes set by seasoned
                                professionals</div>
                        </div>
                        <div class="experience__item wow animate__animated animate__fadeInUp" data-wow-delay="0.45s">
                            <div class="exp-active" data-width="95" data-target="100">Core leaders focussing on business
                                scale-up</div>
                        </div>
                        <div class="experience__item wow animate__animated animate__fadeInUp" data-wow-delay="0.6s">
                            <div class="exp-active" data-width="98" data-target="100">Techno Savvy work process</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
        <!-- Experience area end -->

        <%- include('partials/testimonial'); -%>

            <!-- Process area start -->
            <section class="process__area">
                <div class="container">
                    <div class="row">
                        <div class="col-xxl-12">
                            <div class="process__content">
                                <h2 class="process__title wow animate__animated animate__fadeInUp"
                                    data-wow-delay="0.2s">Once you Onboard with us, "Everything is Simplified".</h2>
                                <a href="/contact" class="mt-3 cxu-btn-primary wow animate__ animate__fadeInUp animated"
                                    data-wow-delay="0.4s"
                                    style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">SCHEDULE
                                    CONSULTATION</a>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="assets/imgs/hero/overlay.png" alt="overlay" class="overlay">
            </section>
            <!-- Process area end -->

            <!-- Modal -->
            <div class="modal fade modal__wkprocess" id="workProcessModal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <button class="modal-close" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i></button>
                        <div class="modal-body">
                            <iframe src="https://www.youtube.com/embed/CH50zuS8DD0" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Brand area start -->
            <!-- <div class="brand__area">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="brand__list">
                        <div class="brand__item wow animate__animated animate__fadeInUp" data-wow-delay="0.15s">
                            <img src="assets/imgs/brand/1.png" alt="Brand Logo">
                        </div>
                        <div class="brand__item wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">
                            <img src="assets/imgs/brand/2.png" alt="Brand Logo">
                        </div>
                        <div class="brand__item wow animate__animated animate__fadeInUp" data-wow-delay="0.45s">
                            <img src="assets/imgs/brand/3.png" alt="Brand Logo">
                        </div>
                        <div class="brand__item wow animate__animated animate__fadeInUp" data-wow-delay="0.6s">
                            <img src="assets/imgs/brand/4.png" alt="Brand Logo">
                        </div>
                        <div class="brand__item wow animate__animated animate__fadeInUp" data-wow-delay="0.75s">
                            <img src="assets/imgs/brand/2.png" alt="Brand Logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
            <!-- Brand area end -->

            <!-- Faq area start -->
            <%- include('partials/faq'); -%>
                <!-- Faq area end -->

                <%- include('partials/footer'); -%>